.card-img-overlay {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.card-img {
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
padding: 20px;
margin: 20px auto;
}
